# Основные зависимости
fastapi>=0.104.0
uvicorn>=0.23.2
pydantic>=2.4.2
pydantic-settings>=2.0.3

# Для работы с переменными окружения
python-dotenv>=1.0.0

# Для валидации данных
email-validator>=2.0.0

# Для тестирования
httpx>=0.25.0
pytest>=7.4.3
pytest-asyncio>=0.21.1

# Инструменты разработки
black>=23.10.0 